<section class="container">
    <div class="row">
        <div class="col-3">
            <%= render "sidebar" %>
        </div>
        <div class="col-9">
            <div class="card">
                <div class="card-header">
                    <h4 class="my-0">Listing</h4>
                </div>
                <div class="card-body"> 
                    <%= render "listing_form", btn_name: "Save" %>
                </div>
            </div>
        </div>
    </div>
</section>